li.sidebar-item span.arrow {
  position: absolute;
  right: 0;
  padding: 0 20px;
  margin-right: 10px;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  opacity: 0.8;
  transition: transform 0.3s; /* 新增動畫過渡效果 */
}

li.sidebar-item span.arrow.-rotate {
  transform: rotate(90deg); /* 旋轉 90 度 */
}

div.sublist {
  margin: 0.625rem 0 0.625rem 3.825rem;
  display: none; /* 預設隱藏子選單 */
}
div.sublist {
  display: none;
}
div.sublist > a.subitem,
div.sublist > a.subitem.alive {
  display: block;
  font-size: 0.8em;
  padding: 3px 0;
  color: #adb5bd;
  font-style: italic;
}
div.sublist > a.subitem:hover {
  text-decoration: none;
  color: #e9ecef;
}
ul {
  padding: 0 !important;
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar {
  background-color: transparent;
}
