/* Style for Floating Logout Button */
#userContain {
  position: relative;
}
.floating-logout-button {
  position: absolute;
  bottom: calc(100% - 75.7px - 20px);
  right: -30%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  width: 80px;
}

.floating-logout-button .btn {
  color: #555;
}

#logoutButton {
  z-index: 999;
}

.user {
  cursor: pointer;
}
