body {
    margin: 0;
    padding: 0;
}

#main>div:first-child {
    flex: 1;
}

#content {
    position: relative;
    flex: 3;
}

#sidebar {
    min-width: 150px;
}

#main {
    display: flex;
    position: relative;
    min-height: 800px;
    margin: 0 20px;
}

main, #navbar, #searchbar{
    width: calc(100vw - 70px - 100vw/4);
}

main {
    min-height: 100px;
    background-color: #fff;
    margin-top: 25px;
}

#sidebar {
    margin: 25px;
}

#profile,
#navbar,
#sidebar {
    border-radius: 5px 5px 0 0;
}

#sidebar,
main {
    border-radius: 5px
}

/* #sidebar, #navbar, main{box-shadow: #6e5d56 0 5px 0;} */

#sidebar,
#navbar,
main {
    border: 5px solid #FEFCEC;
    outline: 2px solid #bfac9f;
}

#searchbar {
    outline: 2px solid #bfac9f;
    border-top: #6F5242 2px solid;
}

/* 導覽列的margin-top，預設值為100px */
#navbar {
    color: #fff;
    margin-top: 100px;
    height: 200px;
    /* 將導覽列高度設為 200px */
    position: fixed;
    top: 0;
    transition: top 0.3s ease;
    /* 添加過渡效果 */
}

/* 在992px以下的螢幕寬度，將margin-top設為112px */
@media (max-width: 991px) {
    #main {
        margin: 0;
    }

    #navbar {
        margin-top: 112px;
    }

    main, #navbar, #searchbar{
        width: calc(100vw - 40px - 100vw/4);
    }
}

#searchbar {
    height: 50px;
    position: fixed;
    top: 200px;
    /* 搜尋欄的初始位置在導覽列下方 */
    z-index: 9999;
    transition: top 0.3s ease;
    /* 添加過渡效果 */
}

