#info {
  display: flex;
  padding: 20px 40px;
  flex-wrap: wrap;
}

#user {
  flex: 2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#point {
  flex: 1;
  color: #f96623;
}

#photo {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  flex-shrink: 0;
  margin: 10px;
  margin-top: 0;
  background: url("https://cdn.discordapp.com/attachments/1116009887550423102/1140930827304304640/pets-white.png");
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(111, 82, 66);
}

#names {
  margin-left: 20px;
  min-width: 180px;
  letter-spacing: 0.1em;
}

#truename {
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 10px;
}

#nickname {
  font-size: 15px;
}

#pointnumber {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 80px;
  margin: 5px 20px;
}
#getpoint {
  height: 30px;
  margin: 15px;
}
#game {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button.btnNameEdit, #userPicEdit {
  background: none;
  border: none;
}

button.btnNameEdit svg{
  fill: rgb(165, 151, 141);
}

#userPicEdit svg{
  color:#555;
  width: 50%;
  height: 50%;
}

#userPicEdit {
  width: 100%;
  height: 100%;
}