
  

#productmanage{   /*商品列表 | 編輯商品資訊 | 新增商品*/
    /* border: 2px solid rgb(48, 149, 78); */
    margin: 5px 0;
    font-size: large;
    font-weight: bold;
    
  }

  .nav-title{
    margin: 0 20px;
    text-decoration-line: none;
  }

/* 按钮容器的样式 */
.status-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px; /* 调整容器宽度 */
  margin: 0 auto; /* 居中显示 */
}

上架按钮的样式
.up-button {
  background-color: rgb(246, 255, 119);
  /* 其他样式设置 */
}

下架按钮的样式
.down-button {
  background-color: rgb(175, 175, 175);
  /* 其他样式设置 */
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
